/*
:root {
  --dark1: #181a1b;
  --dark2: #1b1e1f;
  --white: #f8f9fa;
  --crimson: #ae432f;
}

body {
  background-color: var(--dark1);
}

.dark {
  background-color: #1b1e1f;
}

label {
  color: #f8f9fa;
}

.alert-custom {
  background-color: #ae432f;
  color: #fff;
  opacity: 0.9;
}

.darkInput {
  background-color: #181a1b;
  color: #f8f9fa;
}

.postLink {
  color: #f8f9fa;
  text-decoration: none;
}

.postLink:hover {
  cursor: pointer;
  color: #ed602b;
}
*/
